<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!-- Link to your main CSS -->
</head>

<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 p-4 shadow-lg">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-4xl text-white font-extrabold">Lego World</a>
            <div class="flex items-center space-x-8">
                <a href="/" class="text-lg text-white hover:text-gray-200 transition duration-300">Home</a>
                <a href="/about" class="text-lg text-white hover:text-gray-200 transition duration-300">About</a>
                <div class="relative group inline-block">


                </div>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero bg-gray-200 p-6 text-center">
        <h1 class="text-4xl font-extrabold">
            <%= set.name %>
        </h1>
        <p class="mt-2">Below, you will find detailed information about this set.</p>
    </div>

    <div class="container mx-auto py-6 px-4">
        <img src="<%= set.img_url %>" alt="<%= set.name %>" class="w-full max-w-lg mx-auto mb-6 shadow-lg rounded">
        <h2 class="text-2xl font-bold">Details:</h2>
        <ul class="list-disc list-inside">
            <li><strong>Year Released:</strong>
                <%= set.year %>
            </li>
            <li><strong>Theme:</strong>
                <%= set.theme %>
            </li>
            <li><strong>Number of Parts:</strong>
                <%= set.num_parts %>
            </li>
        </ul>

        <div id="quote" class="mt-6 p-4 bg-white rounded shadow">
            <p id="quote-content" class="text-lg"></p>
            <p id="quote-author" class="text-sm text-gray-600"></p>
        </div>

        <button onclick="history.back(); return false;" class="mt-6 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-400">Back</button>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            fetch('https://quotable.io/random')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('quote-content').textContent = `"${data.content}"`;
                    document.getElementById('quote-author').textContent = `— ${data.author}`;
                })
                .catch(error => console.error('Error fetching quote:', error));
        });
    </script>
</body>

</html>